@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        background-image: none;
        background-image: url(img/starlittle1.png), url(img/Starlittle.png), url(img/startop.png), url(img/Starlittle2.png), url(img/Starlittle3.png);
        background-repeat: no-repeat;
        background-position: 38px 97px, 92px 64px, 220px 0px, 304px 620px, 257px 580px;
        text-align: center;
        padding-bottom: 147px;
        &__title{
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            padding-top: 147px;
            max-width: 262px;
            margin-left: 36px;
            
        }
        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            height: 60px;
            }
           &__text-1{
            font-size: 16px;
           }
        &__button-link {
            font-size: 16px;

        }
    }

    .scrollbar {
        height: 51px;
        gap: 27px;

        &__item {
            gap: 27px;
            align-items: center;
        }
        &__text {
            font-size: 16px;
            gap: 6px;
        }
        &__mobile {
            display: flex;
        
        }
    }

    .container{
        display: none;
    }

    .game-box{
        background-image: none;
        padding-bottom: 48px;

        &__title {
            font-size: 40px;
            line-height: 49px;
            padding-top: 48px;
            padding-bottom: 48px;
        }
        &__content {
            gap: 24px;
        }
        &__cart {
            display: block;
        }
        &__img {
            width: 343px;
            height: 284px;
        }
        &__description {
            padding: 29px;
        }
        &__number{
            padding-bottom: 16px;
            font-size: 32px;
            line-height: 100%;
        }
        &__text {
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 32px;
        }
        &__button {
            padding: 16px 110px;
            font-size: 16px;
        }
    }

    .footer {
        height: 100px;

        &__text {
            font-size: 16px;
            line-height: 20px;
        }
    }
}